.app {
  padding: 3rem;
  display: flex;
  justify-content: center;
  background-color: #f3f4f6; /* fondo de la página */
}

.slider-container {
  position: relative;
  width: 300px;
  height: 50px;
  background: #210464; /* azul inicial */
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  transition: background 0.6s ease;
}


.slider-container.confirmed {
 
  background: #878491; /* azul inicial */
 
}
.slider-container.active {
   background: #1a0f4b; /* azul más oscuro */
  transition: background 0.5s ease;
}
.slider-container.active .slider-text {
  color: #210464; /* texto azul sobre fondo blanco */
}

.slider-container.loading,
.slider-container.confirmed {
  background: white;
}

.slider-container.dark-blue {
  background: #1a0f4b; /* azul más oscuro al llegar al final */
  transition: background 0.6s ease;
}

.slider-container.dark-blue .slider-text {
  opacity: 0; /* desaparece suavemente */
  transition: opacity 0.4s ease;
}



.slider-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  font-weight: 500;
  color: white;
  transition: color 0.6s ease, opacity 0.6s ease;
}



.slider-handle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
 background-color: #f3f4f6;
  transition: left 0.6s ease, transform 0.6s ease, background 0.4s ease, color 0.4s ease;
}





/* Fondo más azul al llegar al final */


/* Texto desaparece suavemente */
.slider-text.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}

/* Texto visible */
.slider-text.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease;
}


/* --- ESTADOS DEL HANDLE --- */

/* Normal y Loading → handle blanco, icono azul */
.slider-handle.default,
.slider-handle.loading {
  background: white;
}
.slider-handle.default svg,
.slider-handle.loading svg {
  color: #210464;
}

/* Confirmed → handle azul, icono blanco */
.slider-handle.confirmed {
  background: #210464;
}
.slider-handle.confirmed svg {
  color: white;
}

.slider-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.fade-in {
  animation: fadeIn 0.6s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.85);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
